<main class="container">
  @if(cartStore.totalQuantities()){
    <section>
      <h1>Your Cart</h1>
      <button type="button" (click)="resetCart()">Clear All ({{cartStore.totalQuantities()}})</button>
    </section>
    <div [class.cart-fill-row]="cartStore.uniqueItemsCount() === 1">
      <app-cart-product-list [data]="cartStore.items()" />
      <section>
        <div>
          <span>Subtotal</span>
          <span>{{cartStore.totalAmount()| currency}}</span>
        </div>
        <div>
          <span>Delivery Fee</span>
          <span>Free</span>
        </div>
        <div class="cart-total">
          <span>Total</span>
          <span>{{cartStore.totalAmount()| currency}}</span>
        </div>
        <button type="button" (click)="checkout()" [disabled]="paymentService.isLoadingSig()">
          @if(paymentService.isLoadingSig()){
            Loading...
          }@else {
            Pay {{cartStore.totalAmount()| currency}}
          }
        </button>
        <!-- <button type="button" (click)="checkout()">Pay {{data().totalAmount| currency}}</button> -->
      </section>
    </div>
  } @else {
    <div class="cart-empty">
      <p>Your shopping cart is empty.</p>
      <a routerLink="/products" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"
         ariaCurrentWhenActive="page" >Shop</a>
    </div>
  }

  <!<!-- Payment Toast -->
  <div class="payment-toast" [class.payment-toast-show]="paymentToastShow()">
    <lucide-angular [img]="ShoppingBag" [size]="20" class="my-icon" />
    @if(paymentService.isLoadingSig()) {
      <p>Processing your payment...</p>
    } @else {
      <p>{{ paymentToastMessage() }}</p>
    }
  </div>
</main>



